.chatBox {
  flex: 0.7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131c21;
  height: 50px;
}

.cbhLeft {
  display: flex;
  align-items: center;
}

.cbhAvatar {
  padding-right: 10px;
}

.cbhdName {
  color: #d4d5d6;
  font-size: 18px;
}

.cbhdPeople {
  color: #9ea0a2;
  font-size: 15px;
}

.cbhOtherIcons {
  display: flex;
  flex-direction: row;
}

.chatBoxMain {
  flex: 1;
  min-height: 200px;
  background-image: url("https://wallpaperaccess.com/full/2224368.png");
  background-size: contain;
  padding: 20px;
}

.singleMessageBox {
  background-color: #262d31;
  width: fit-content;
  display: flex;
  padding: 5px;
  border-radius: 5px;
}

.IsentThis {
  margin-left: auto;
  background-color: #054740;
}

.senderandSent {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sender {
  color: #a75b5d;
}

.sentMessage {
  color: #e7e7e8;
}

.sentTime {
  align-self: flex-end;
  padding-left: 10px;
  color: #84888b;
  font-size: 12px;
}

.chatBoxFooter {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131c21;
}

.chatInput {
  height: 30px;
  border-radius: 15px;
  width: 100%;
  background-color: #33383b;
}
