.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage > img {
  height: 300px;
}

.loginPage > Button {
  background-color: #00a859;
  font-weight: 600;
  width: 300px;
  color: #e7e7e8;
}

.loginPage > Button:hover {
  background-color: #054740;
}
